.container-card {
    /* display: flex; */
    position: relative;
    margin: 10px 10px;
    top: 100px;
    left: 160px;
    height: 100px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    background-color: purple;
}
.container {
    /* display: flex; */
    position: relative;
    margin: 10px 10px;
    top: 100px;
    left: 160px;
    height: 100px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    background-color: purple;
}
.container .row {
    margin: 0 auto;
}
.card-action {
    display: inline;
    position: relative;
    float: right;
    top: 30px;
}
.card-title {
    position: relative;
    margin: 10px 20px;
    top: 30px;
    border: 2px solid blue;
    border-radius: 10px;
}
.card-date {
    position: relative;
    margin: 10px 20px;
    top: 30px;
    border-radius: 10px;
    border: 2px solid green;
}
.card-price {
    position: relative;
    justify-content: center;
    top: 30px;
    margin: 10px 20px;
    border-radius: 10px;
    left: 450px;
    border: 2px solid red;
}
